<div class="row mt-5" *ngIf="exibirPagina">
  <div class="row mt-3">
    <div class="col-md-4 offset-4">
      <h1>Autenticar Professor</h1>
      <h5>Entre com suas credenciais para realizar autenticação</h5>

      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">


        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" formControlName="login" placeholder="name@example.com">
          <label for="floatingInput">Login</label>
          <div class="text-danger" *ngIf="form.login.touched && form.login.invalid">
            <span *ngIf="form.login.errors.required">
                Informe o login do professor
            </span>
          </div>
        </div>


        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingInput" formControlName="senha" placeholder="name@example.com">
          <label for="floatingInput">Senha</label>
          <div class="text-danger" *ngIf="form.senha.touched && form.senha.invalid">
            <span *ngIf="form.senha.errors.required">
                Informe a senha do professor
            </span>
          </div>
        </div>


        <div class="d-grid mb-3">
          <input type="submit" value="Realizar Autenticação" [disabled]="!formLogin.valid" class="btn btn-primary" />
        </div>

        <div class="d-grid mb-3">
          <!--
        <div *ngIf="mensagem_sucesso" class="mb-3 alert alert-success">
          <strong>{{mensagem_sucesso}}</strong>
        </div>
        -->
          <div *ngIf="mensagem_erro" class="mb-3 alert alert-danger">
            <strong>{{mensagem_erro}}</strong>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

