
<h1>Consulta de Professor</h1>
<h5>Lista dos professores cadastrados</h5>

<table class="table table-dark table-striped" style="border: 2px solid rgb(255, 255, 255);
border-radius: 25px;">
  <thead>
        <tr>
            <td>Nome do Professor</td>
            <td>Endereço</td>
            <td>Opções</td>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of professor">
          <td>{{p.nome}}</td>
          <td>{{p.endereco}}</td>

          <td>
            <button class="btn btn-sm btn-primary mr"
            [routerLink]="['/editar-professor',p.idProfessor]">
              Editar
            </button>

              &nbsp;

            <button class="btn btn-sm btn-danger" (click)="excluir(p.idProfessor)">Excluir</button>
          </td>
        </tr>
      </tbody>
    <tfoot>
        <tr>
            <td colspan="6">Total de registros: {{professor.length}}  </td>
        </tr>
    </tfoot>
</table>

