
<h3>Projeto Escola</h3>
<h5>Realizado durante a Turma de Formação Cast Group</h5>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="./assets/imagem_victor.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Victor Lobão</h2>
        <p class="card-text">20, Brasília/DF</p>
        <p class="card-text">Futuro Desenvolvedor Full-Stack</p>
        <p class="card-text"><small class="text-muted">Last updated 47 hours ago</small></p>
          <div class="text-center">
            <a class="rounded float-start" href="https://www.linkedin.com/in/victorvlobao/"><img src="./assets/linkedin.jpg" alt="" width="32" height="32" title="Linkedin"></a>
            <a class="text-center" href="https://www.instagram.com/victorvlobao/"><img src="./assets/instagram.jpg" alt="teste" width="32" height="32" title="Instagram"></a>
            <a class="rounded float-end"href="https://github.com/victorvlobao"><img src="./assets/github.png" alt="" width="32" height="32" title="GitHub"></a>
          </div>
        </div>
    </div>
  </div>
</div>
